*.png
*.ckpt
*.pyc
__pycache__/
lightining_logs/
.ipynb_checkpoints/
*.tfevents.*
hparams.yaml
tmp_script/
**/debagger/
*.pickle
*keypoints.json
wrong cases
classification report.txt
confusion matrix.txt
"wrong cases.txt"
*.avi
*.txt
"wrong cases"
_old_*/
docs/build
docs/source/api/
docs/source/experiments/
runs/
retired_runs/
**/runs/
**/retired_runs/
**/retire_disabled/
**/retire/
set_env.bat
benchmark/
*.zip
*.7z
03-Pretraining/mmpose/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.pth
log.csv
images/
images_/
*.jpg
